@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/OpenSans-Bold.ttf") format("ttf"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/OpenSans-Regular.ttf") format("ttf"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

body,
p,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
  font-size: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  width: 100%;
  height: 177.78vw;
  position: relative;
  background-color: gray;
  background-image: url("../images/banner-mobile.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.header::after,
.trends-card-img::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.header-container {
  box-sizing: border-box;
  padding: 32px 16px 0;
  color: #ffffff;
}

.header-wrap-logo-nav {
  height: 70.55vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  margin-bottom: 33px;
}

.header-logo-box {
  align-self: center;
  width: 270px;
}

.header-nav-button {
  align-self: flex-end;
  width: 1.2em;
  height: 1em;
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 19px;
  position: relative;
  cursor: pointer;
}

.header-nav-button::before {
  top: 0;
}

.header-nav {
  display: none;
}

.header-nav-button::before,
.header-nav-button::after {
  content: "";
  width: 100%;
  height: 15%;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.header-nav-button::after {
  bottom: 0;
}

.header-nav-button-lable {
  width: 100%;
  height: 16%;
  margin-top: -0.1em;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
  text-indent: -9999px;
}

.header-title {
  font-size: 26px;
  text-align: center;
}

.trends {
  margin-top: 37px;
}

.title-h2,
.article-title-link {
  font-size: 16px;
  color: #0f0d0e;
}

.trends-title {
  position: relative;
  text-align: center;
}

.trends-title::after {
  content: "";
  position: absolute;
  top: 30px;
  left: calc(50% - 32px);
  height: 3px;
  width: 65px;
  background-color: #b59f5b;
}

.trends-container {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.trends-card-img {
  position: relative;
  height: 64.16vw;
  width: 100%;
  background-position: center bottom;
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 15px 15px;
  z-index: 0;
}

.garden {
  background-image: url("../images/trend1.jpg");
}

.cheeses {
  background-image: url("../images/trend2.jpg");
}

.mountains {
  background-image: url("../images/trend3.jpg");
}

.vitamin {
  background-image: url("../images/trend4.jpg");
}

.trends-card-content {
  flex-basis: 100%;
  padding: 27px 29px 24px 18px;
  border: 3px solid rgba(181, 159, 91, 0.6);
}

.card-links {
  list-style-type: none;
  margin-bottom: 6px;
}

.card-box-link {
  display: inline-block;
}

.card-link {
  font-size: 14px;
  color: #b59f5b;
  margin-right: 19px;
}

.trends-card-text {
  font-size: 16px;
  color: #ffffff;
}

.transfer-text {
  display: block;
  max-width: 70%;
}

.main-aside-container {
  display: flex;
  flex-direction: column;
  padding-top: 11px;
  padding-left: 15px;
  padding-right: 15px;
}

.main-article {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  padding-bottom: 19px;
  border-bottom: 3px solid #eeeeee;
}

.article-box-img {
  box-sizing: border-box;
  margin-bottom: 11px;
  height: 70.55vw;
  width: 100%;
  background-color: #eff6f1;
}

.article-img {
  height: 100%;
  width: 100%;
}

.article-card-links {
  list-style-type: none;
  margin-bottom: 6px;
}

.article-title {
  margin-bottom: 15px;
}

.title-cuisine {
  margin-bottom: 16px;
}

.date-autor-box {
  margin-bottom: 14px;
  text-transform: none;
}

.article-date {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  color: #888888;
  margin-right: 11px;
}

.article-autor {
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  font-style: normal;
  color: #000000;
  margin-right: 11px;
  letter-spacing: 0.5px;
}

.article-text {
  text-transform: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.44;
  color: #0f0d0e;
  padding-right: 3px;
}

.article-text-music-correction {
  margin-top: 5px;
}

.sidebar {
  margin-top: 38px;
}

.aside-section-title {
  position: relative;
  text-align: center;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.aside-section-title::after {
  content: "";
  position: absolute;
  top: 32px;
  left: calc(50% - 32px);
  height: 3px;
  width: 65px;
  background-color: #b59f5b;
}

.newposts-article {
  display: flex;
  margin-bottom: 16px;
}

.aside-box-img {
  width: 70px;
  height: 70px;
  flex: none;
  background-color: #eff6f1;
  margin-right: 18px;
  margin-top: 6px;
}

.aside-img {
  width: 100%;
  height: 100%;
}

.aside-article-content {
  padding-top: 3px;
  padding-right: 3px;
}

.aside-article-date {
  font-size: 12px;
  text-transform: none;
  color: #9a9a9a;
}

.aside-title-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.form-search {
  margin: 61px auto 0;
  width: 100%;
  max-width: 330px;
  position: relative;
  display: flex;
}

.search-input {
  flex-grow: 1;
  background-color: #f4f7f6;
  padding: 14px 0 14px 18px;
  border-style: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 13px;
  color: #939594;
}

input:focus-visible {
  outline-style: none;
}

.search-input:focus {
  padding: 13px 0 13px 17px;
  border: 1px solid #b59f5b;
}

.search-button {
  position: relative;
  width: 50px;
  background-image: url("../svg/search.svg");
  background-size: 19px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #b59f5b;
  border-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mailing {
  margin: 41px auto 0;
  width: 100%;
  max-width: 330px;
}

.mailing-input {
  box-sizing: border-box;
  width: 100%;
  padding: 16px 18px;
  border-style: none;
  background-color: #f4f7f6;
  box-sizing: border-box;
  margin-bottom: 17px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 400;
  color: #939594;
}

.mailing-input:focus {
  border: 1px solid #b59f5b;
  padding: 15px 17px;
}

.mailing-button {
  display: block;
  width: 100%;
  padding: 15px 0;
  background-color: #b59f5b;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.tags {
  margin-top: 39px;
}

.tags-list {
  padding-top: 2px;
}

.tags-list-item {
  display: inline-block;
}

.tag {
  display: inline-block;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #0f0d0e;
  padding: 3px 11px;
  border: 3px solid #eeeeee;
  text-decoration: none;
  margin-right: 8px;
  margin-bottom: 7px;
}

.themes {
  margin-top: 32px;
}

.themes-list-item {
  display: block;
  font-weight: 700;
  font-size: 14px;
  text-transform: none;
  color: #000000;
  text-decoration: none;
  padding-bottom: 12px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 11px;
}

.themes-list-item:last-of-type {
  margin-bottom: 0;
}

.count-theme {
  margin-left: 1px;
  vertical-align: super;
  font-size: 12px;
  color: #b59f5b;
}

.products {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 40px;
}

.products-title {
  position: relative;
  text-align: center;
}

.products-title::after {
  content: "";
  position: absolute;
  top: 33px;
  left: calc(50% - 32px);
  height: 3px;
  width: 65px;
  background-color: #b59f5b;
}

.products-cards-container {
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.products-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.box-picture {
  width: 80.55vw;
  height: 80.55vw;
  background-color: #eff6f1;
}

.products-img {
  width: 100%;
  height: 100%;
}

.products-card-frame {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: -34px;
  padding: 48px 23px 25px 17px;
  border: 3px solid rgba(181, 159, 91, 0.6);
}

.products-card-title {
  font-size: 17px;
  color: #0f0d0e;
}

.products-card-content {
  font-weight: 400;
  font-size: 15px;
  text-transform: none;
  line-height: 1.44;
  color: #0f0d0e;
  margin-top: 3px;
}

.card-content-link {
  color: #b59f5b;
}

.wrap-price-shop-link {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.old-price {
  height: 14px;
  font-weight: 700;
  font-size: 14px;
  padding-top: 4px;
}

.rub {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: inherit;
  text-transform: uppercase;
  position: relative;
}

.rub::before {
  content: "";
  position: absolute;
  top: 0.86em;
  left: 0.2em;
  height: 0.1em;
  width: 0.25em;
  background-color: #000000;
}

.new-price {
  font-weight: 700;
  font-size: 20px;
}

button {
  margin: 0;
  padding: 0;
  border: none;
}

.products-card-button {
  display: block;
  box-sizing: border-box;
  padding: 17px 29px;
  background-color: #b59f5b;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer {
  margin-top: 42px;
  padding: 0 15px 40px;
}

.footer-list-icon {
  padding: 30px 0;
  background-color: #f4f7f6;
  display: flex;
  justify-content: center;
  gap: 27px;
}

.footer-icon-img {
  width: 20px;
  height: 20px;
}

.footer-copyright {
  margin-top: 47px;
  text-align: center;
}

.copyright-link {
  font-size: 12px;
  text-transform: none;
  color: #999999;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.popup::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.feedback {
  position: relative;
  display: block;
  width: 330px;
  box-sizing: border-box;
  padding: 25px 25px 30px;
  background-color: #ffffff;
  color: #000000;
}

.popup-closed {
  position: absolute;
  content: "";
  top: -33px;
  right: 0px;
  width: 28px;
  height: 28px;
  background-color: transparent;
  background-image: url("../svg/form-x.svg");
  background-size: 28px auto;
}


.feedback-title {
  position: relative;
  text-align: center;
  font-size: 16px;
  margin-bottom: 38px;
}

.feedback-title::after {
  content: "";
  position: absolute;
  top: 32px;
  left: calc(50% - 33px);
  height: 3px;
  width: 66px;
  background-color: #b59f5b;
}

.feedback-text {
  text-transform: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 8px;
}

select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:focus-visible,
textarea:focus-visible {
  outline-style: none;
}

.feedback-select {
  margin-bottom: 32px;
  height: 47px;
  width: 100%;
  border: none;
  background-color: #f3f7f6;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-size: 10px auto;
  background-position: right 15px center;
  padding-left: 16px;
  color: #838584;
  font-weight: 400;
  font-size: 14px;
}

.feedback-select:focus,
.feedback-textarea:focus {
  border: 1px solid #b59f5b;
}

.feedback-wrap-radio-buttons {
  margin-bottom: 29px;
}

.feedback-radio-buttons {
  display: none;
}

.radio-button-text {
  text-transform: none;
  font-weight: 400;
  font-size: 13px;
  margin-right: 34px;
}

.radio-button-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-size: 25px auto;
  margin-right: 5px;
}

.feedback-radio-buttons:checked+.radio-button-text::before {
  background-image: url(../svg/form-circle.svg);
}

.feedback-textarea {
  box-sizing: border-box;
  min-width: 100%;
  max-width: 100%;
  min-height: 130px;
  max-height: 130px;
  background-color: #f3f7f6;
  color: #838584;
  border: none;
  padding: 18px 20px;
  margin-bottom: 28px;
  font-family: inherit;
  font-weight: 400;
  font-size: 13px;
}

.feedback-button {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 14px;
  color: #ffffff;
  background-color: #b69f5b;
}

@media (orientation: landscape) and (max-width: 640px),
(min-width: 641px) {
  .trends-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .trends-card-img {
    height: 32.16vw;
    min-height: 247px;
    width: calc((100% - 3px) / 2);
    padding: 15px 20px;
  }
}

@media (min-width: 641px) {
  .header {
    background-image: url("../images/banner-bg-tablet.jpg");
    height: 51vw;
  }

  .header-container {
    padding-bottom: 0;
    padding: 44px 35px 0;
  }

  .header-wrap-logo-nav {
    height: auto;
    flex-direction: row;
    margin-bottom: 11.59vw;
  }

  .header-logo-box {
    width: 157px;
  }

  .header-nav-button {
    align-self: center;
  }

  .header-title {
    padding: 0 26px 0;
    font-size: 40px;
  }

  .trends {
    margin-top: 44px;
  }

  .title-h2 {
    font-size: 18px;
  }

  .trends-title::after {
    top: 33px;
  }

  .trends-container {
    margin-top: 31px;
  }

  .trends-card-content {
    padding: 29px 29px 29px 31px;
  }

  .card-links {
    margin-bottom: 5px;
  }

  .trends-card-text {
    font-size: 17px;
  }

  .transfer-text {
    max-width: 225px;
  }

  .main-aside-container {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 9px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .main {
    width: calc((100% - 272px) * 0.918);
  }

  .main-article {
    margin-top: 43px;
    padding-bottom: 17px;
  }

  .main-article:last-of-type {
    border-bottom-color: rgba(255, 255, 255, 0);
  }

  .article-box-img {
    height: calc((100vw - 342px) * 0.7089);
    margin-bottom: 12px;
  }

  .article-card-links {
    margin-bottom: 7px;
  }

  .article-title {
    margin-bottom: 28px;
  }

  .article-title-link {
    font-size: 17px;
  }

  .date-autor-box {
    margin-bottom: 30px;
  }

  .article-text {
    font-size: 15px;
  }

  .article-text-music-correction {
    margin-top: 11px;
  }

  .sidebar {
    margin-top: 36px;
    width: 272px;
    flex-shrink: 0;
  }

  .aside-section-title {
    font-size: 14px;
  }

  .form-search {
    margin-top: 62px;
    max-width: none;
  }

  .mailing {
    margin-top: 58px;
    width: 100%;
    max-width: none;
  }

  .tags {
    margin-top: 57px;
  }

  .themes {
    margin-top: 50px;
  }

  .products {
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 43px;
  }

  .products-cards-container {
    margin-top: 39px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: normal;
    justify-content: space-between;
  }

  .products-card {
    width: 48.28%;
    margin-bottom: 27px;
  }

  .box-picture {
    width: 88.13%;
    height: calc((100vw - 70px) * 0.3309);
  }

  .products-card-frame {
    margin-top: -40px;
    padding-top: 51px;
  }

  .footer {
    margin-top: 25px;
    padding: 0 35px 40px;
  }

  .feedback {
    width: 390px;
    padding: 51px 30px 54px;
  }

  .popup-closed {
    top: -35px;
  }

  .feedback-title {
    font-size: 18px;
  }

  .feedback-text {
    padding-right: 10px;
  }
}

@media (orientation: landscape) and (min-width: 641px) and (max-width: 1199px) {
  .trends-container {
    gap: 3px;
  }

  .trends-card-img {
    width: calc((100% - 9px) / 4);
    padding-left: 1.75%;
    padding-right: 1.75%;
  }

  .trends-card-content {
    padding-left: 5%;
    padding-right: 5%;
  }

  .trends-card-text {
    font-size: calc(0.54vw + 10.54px);
  }
}

@media (min-width: 1200px) {
  .header {
    background-image: url("../images/banner-bg.jpg");
    background-position: center top -2px;
    height: auto;
  }

  .header-container {
    width: 1200px;
    margin: 0 auto;
    padding: 28px 15px 126px;
  }

  .header-wrap-logo-nav {
    align-items: center;
    margin-bottom: 104px;
  }

  .header-logo-box {
    align-self: auto;
    width: 179px;
  }

  .header-nav-button {
    display: none;
  }

  .header-nav {
    display: block;
  }

  .header-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 35px;
  }

  .header-list-item {
    display: list-item;
  }

  .header-list-link {
    display: inline;
    color: inherit;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.6px;
  }

  .header-list-link:hover {
    text-decoration: underline;
  }

  .header-title {
    font-size: 45px;
    line-height: 1.67;
    padding: 0 240px;
  }

  .trends {
    margin-top: 58px;
  }

  .title-h2,
  .article-title-link {
    font-size: 20px;
  }

  .trends-title::after {
    top: 34px;
  }

  .trends-container {
    margin-top: 39px;
    gap: 4px;
  }

  .trends-card-img {
    height: 320px;
    width: calc((100% - 12px) / 4);
    background-position: center center;
    padding: 15px 21px;
  }

  .trends-card-content {
    padding: 32px 32px 31px;
  }

  .card-links {
    margin-bottom: 3px;
  }

  .card-link:hover,
  .card-content-link:hover {
    border-bottom: 2px solid #b59f5b;
  }

  .trends-card-text {
    font-size: 20px;
  }

  .trends-card-text:hover {
    color: #b59f5b;
  }

  .transfer-text {
    max-width: 80%;
  }

  .main-aside-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;
    box-sizing: border-box;
  }

  .main {
    width: 66.5%;
  }

  .main-article {
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 61px;
    padding-bottom: 0;
    border-bottom: none;
  }

  .main-article:last-of-type {
    margin-bottom: 0;
  }

  .article-box-img {
    width: 381px;
    height: 294px;
    flex: none;
    margin-right: 30px;
    margin-bottom: 0;
    align-self: flex-start;
  }

  .article-card-links {
    margin-bottom: 3px;
  }

  .article-title {
    margin-bottom: 25px;
  }

  .article-title-link:hover {
    color: #b59f5b;
  }

  .date-autor-box {
    margin-bottom: 46px;
  }

  .date-autor-box-correction {
    margin-bottom: 44px;
  }

  .article-text {
    font-size: 15px;
    line-height: 1.5;
    padding-right: 0;
  }

  .article-text-music-correction {
    margin-top: 10px;
  }

  .sidebar {
    margin-top: 0;
  }

  .aside-section-title {
    margin-bottom: 34px;
  }

  .newpost-title-correction {
    margin-left: 5px;
  }

  .aside-section-title::after {
    top: 28px;
    left: 103px;
  }

  .aside-title-link:hover,
  .name-theme:hover {
    color: #b59f5b;
  }

  .search-input {
    width: 222px;
    background-color: #f4f7f6;
  }

  .search-button:hover,
  .mailing-button:hover {
    background-color: #323232;
    cursor: pointer;
  }

  .mailing {
    margin-top: 57px;
  }

  .tags {
    margin-top: 59px;
  }

  .tag:hover {
    border-color: #b59f5b;
  }

  .themes-list-item {
    padding-bottom: 13px;
    margin-bottom: 10px;
  }

  .products {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
    margin: 51px auto 0;
    box-sizing: border-box;
  }

  .products-title::after {
    top: 34px;
  }

  .products-card {
    width: auto;
    max-width: 346px;
    margin-bottom: 0;
  }

  .box-picture {
    width: 306px;
    height: 208px;
  }

  .products-card-title {
    font-size: 20px;
  }

  .shop-link:hover {
    background-color: #323232;
  }

  .footer {
    width: 1200px;
    box-sizing: border-box;
    margin: 66px auto;
    padding: 0 15px 40px;
  }

  .footer-copyright {
    margin-top: 72px;
  }

  .feedback {
    min-height: 588px;
    padding: 46px 30px 0px;
  }

  .popup-closed {
    top: -29px;
    right: 0px;
    width: 20px;
    height: 20px;
    background-size: 20px auto;
  }

  .popup-closed:hover {
    scale: 1.1;
  }

  .feedback-title {
    font-size: 20px;
  }

  .feedback-title::after {
    top: 35px;
  }

  .feedback-text {
    margin-bottom: 7px;
  }

  .radio-button-text {
    margin-right: 16px;
  }

  .radio-button-text::before {
    width: 17px;
    height: 17px;
    background-size: 17px auto;
    margin-right: 5px;
  }

  .feedback-button:hover {
    background-color: #323232;
  }

}